# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

\obj
\bin
*.suo
*.cache
WooFractal/obj/x86/Release/WooFractal.exe
WooFractal.suo
.vs/ProjectEvaluation/woofractal.projects.v9.bin
.vs/ProjectEvaluation/woofractal.strings.v9.bin
.vs/WooFractal/copilot-chat/a062ab57/sessions/331fbe18-9ecc-4bdb-8367-4334010bc59f
.vs/WooFractal/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/WooFractal/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
.vs/WooFractal/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
.vs/WooFractal/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/WooFractal/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/WooFractal/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/WooFractal/DesignTimeBuild/.dtbcache.v2
.vs/WooFractal/FileContentIndex/6d59ab5f-33c1-4d74-a4ba-3523adb3d3b0.vsidx
.vs/WooFractal/FileContentIndex/754fdf64-5698-455c-b176-fbdd2216d025.vsidx
.vs/WooFractal/FileContentIndex/9c88e37d-0a5e-41d8-9afb-fc8f2bc8f89b.vsidx
.vs/WooFractal/FileContentIndex/a44a3cfc-495e-4069-bbd2-12137f101386.vsidx
.vs/WooFractal/FileContentIndex/e3f6bb93-4731-4ee6-9793-563157e59e65.vsidx
.vs/WooFractal/v17/.futdcache.v2
.vs/WooFractal/v17/DocumentLayout.backup.json
.vs/WooFractal/v17/DocumentLayout.json
.vs/ProjectEvaluation/woofractal.metadata.v9.bin
